<%= simple_form_for [current_user, Quiz.evaluations.new] do |form| %>
  <div class="slider-form" data-controller="slides">

    <div class="alt-border gapped content">
      <% quiz.questions.random.each.with_index(1) do |question, index| %>
        <div class="column" data-slides-target="slide">
          <%= content_tag(:h1, "Question : #{index}", class: "bold question") %>

            <div class="progress-container full-width">
              <progress value="<%= index %>" max="<%= quiz.questions.size %>" class="full-width">
              </progress>
            </div>

            <%= content_tag(:h2, question.content, class: "question") %>

            <div class="answers">
              <%= form.fields_for :reactions, Reaction.new do |builder| %>

              <%= builder.input :answer,
                                as: :radio_buttons,
                                label: false,
                                item_label_class: 'flex rev-row spaced-between clickable answer',
                                collection: question.answers.collect { |a| [a.content, a.id] } %>
              <% end %>
            </div>
        </div>
      <% end %>
    </div>

    <div class="flex spaced-between bottom full-width white-bg level-two fixed padded alt-border controls" data-slides-target="controls">

      <div class="clickable" data-action="click->slides#previous">
        <div class="hide-start left">
          <div class="flex center-aligned inner-button bttn dark padded large-text">
            <div class="standard-svg light-fill icon">
              <%= inline_svg("icons/arrow-left.svg") %>
            </div>
            <div class="btn-text">Previous</div>
          </div>
        </div>
      </div>

      <div class="clickable" data-action="click->slides#next">
        <div class="hide-end right">
            <div class="flex rev-row center-aligned inner-button bttn dark padded large-text">
            <div class="standard-svg light-fill icon">
              <%= inline_svg("icons/arrow-right.svg") %>
            </div>
            <div class="btn-text">Next</div>
          </div>
        </div>
      </div>

    <%= form.submit "Submit", id: "form_submit", class: "shown-end inner-button bttn dark" %>
  </div>
<% end %>
