<%= form_for [@quiz.evaluations.new] do |form| %>
  <div class="slider-form" data-controller="slides">

    <div class="alt-border gapped content">
      <% quiz.questions.random.each.with_index(1) do |question, index| %>
        <div class="column" data-slides-target="slide">
          <%= content_tag(:h1, "Question : #{index}", class: "bold question") %>

            <div class="progress-container full-width">
              <progress value="<%= index %>" max="<%= quiz.questions.size %>" class="full-width">
              </progress>
            </div>

            <%= content_tag(:h2, question.content, class: "question") %>

            <div class="answers">
              <%= form.fields_for :reactions, Reaction.new do |builder| %>

              <%= builder.collection_radio_buttons :answer, question.answers, :id, :content do |b| %>
                  <%= b.label(class: "flex rev-row spaced-between clickable answer") { b.radio_button(class: "radio_button") + b.label } %>
                <% end %>

              <% end %>
            </div>

        </div>
      <% end %>
    </div>

    <div class="flex spaced-between bottom full-width white-bg level-two fixed padded alt-border controls" data-slides-target="controls" style="position: fixed;bottom: 0;z-index: 2;">

      <div class="clickable" data-action="click->slides#previous">
        <div class="hide-start left">
          <div class="flex large-text dark center-aligned padded rounded button">
            <div class="standard-svg current-color-fill icon">
              <%= inline_svg("icons/arrow-left.svg") %>
            </div>
            <div class="btn-text">Previous</div>
          </div>
        </div>
      </div>

      <div class="clickable" data-action="click->slides#next">
        <div class="hide-end right">
            <div class="flex rev-row large-text dark center-aligned padded rounded button">
            <div class="standard-svg current-color-fill icon">
              <%= inline_svg("icons/arrow-right.svg") %>
            </div>
            <div class="btn-text">Next</div>
          </div>
        </div>
      </div>

    <%= form.submit "Submit", id: "form_submit", class: "clickable shown-end button dark" %>
  </div>
<% end %>
