<%= form_with(model: evaluation, url: edit_quiz_evaluation_path(quiz, evaluation), method: :patch, data: { turbo_frame: "question_frame" }) do |form| %>
  <div class="column">
    <%= content_tag(:h1, "Question : #{index}", class: 'bold question') %>

    <%= content_tag(:div, class: "progress-container full-width") do %>
      <%= content_tag(:progress, nil, value: index, max: quiz.questions.size, class: "full-width") %>
    <% end %>

    <%= content_tag(:h2, question.content, class: 'question') %>

    <div class="answers">
      <%= form.fields_for :choices, evaluation.choices.build(question: question) do |choice| %>
        <%= choice.collection_radio_buttons :answer_id, question.answers, :id, :content do |answer| %>
          <%= answer.label(class: 'flex rev-row spaced-between clickable answer') do %>
            <%= answer.radio_button(class: 'radio_button') + answer.label %>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <%= form.hidden_field :current_question_index, value: index %>

    <%= form.submit "Next", class: "flex clickable large-text dark center-aligned padded rounded button" %>
  </div>
<% end %>
