<%= form_with(model: evaluation, url: [evaluation.quiz, evaluation], method: :patch, data: { controller: "auto-submit" }) do |form| %>
  <div class="alt-border gapped content">
    <div class="column">
      <%= content_tag(:h2, current_choice.question.content, class: 'question') %>
      <hr>
      <div class="answers">
        <%= form.fields_for :choices, current_choice do |choice| %>
          <%= choice.hidden_field :question_id, value: current_choice.question.id %>
          <%= choice.collection_radio_buttons :answer_id, current_choice.question.answers, :id, :content do |answer| %>
            <%= answer.label(class: 'flex rev-row spaced-between clickable answer') do %>
              <%= answer.radio_button(class: 'radio_button', data: { action: "change->auto-submit#submitOnChange" }) + answer.label %>
            <% end %>
          <% end %>

        <% end %>
      </div>

      <%= form.hidden_field :last_choice_id, value: current_choice.id %>

      <%= content_for(:form_navigation) %>
      <%= form.submit 'Submit', class: 'clickable rounded button btn-primary p-4 text-white' %>
    </div>
  </div>
<% end %>
