<% breadcrumb :evaluation, @quiz %>

  <div class="alt-border gapped content">
    <div class="flex column">
      <div class="flex spaced-between">
          <div class="info">
            <h4 class="bold"><span class="formatted_time"><%= DateTime.now %></span></h4>
            <h1>Quiz : <%= @quiz.title %></h1>
            <h1><%= @quiz.questions.count %> Questions</h1>
            <h1><%= current_user.name %></h1>
          </div>

        <div class="long-svg icon">
          <%= inline_svg("logo.svg") %>
        </div>
      </div>

    </div>
    <br>

    <div class="gainsboro-bordered" >
      <% @quiz.questions.random.each do |question| %>
        <div class="column flex padded">
          <h2><%= question.content %></h2>
          <div class="flex padded">
            <ul>
              <% question.answers.each do |answer| %>
                <li><%= answer.content %></li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
    </div>

    <%= render "form" %>
  </div>
