<% breadcrumb :evaluation, @quiz %>

<div class="alt-border gapped content"
    data-controller="slides"
    data-slides-index-value="0">

    <%= render "evaluations/components/header" %>

    <div class="gainsboro-bordered">

      <div class="progress-container full-width">
        <label for="question-progress">Progress:</label>

        <progress
          data-slides-target="progress"
          value="1"
          max="10"
          class="full-width">
        </progress>
      </div>


      <% @quiz.questions.random.each.with_index(1) do |question, index| %>

        <div class="column flex padded" data-slides-target="slide">
          <h2>Question <span data-slides-target="counter"><%= index %></span></h2>
          <h2><%= question.content %></h2>
          <div class="flex padded">
            <ul class="answers">
              <% question.answers.each do |answer| %>
                <li class="answer"><%= answer.content %></li>
              <% end %>
            </ul>
          </div>

        <div class="flex spaced-between slides-controls">
          <div class="prv-btn" data-action="click->slides#previous">
            <button class="button large-text">Previous</button>
          </div>

          <div class="next-btn" data-action="click->slides#next">
            <button class="button large-text">Next</button>
          </div>
        </div>

        </div>
      <% end %>
    </div>
    <%= render "form" %>
</div>
