<div class="rounded basic-border grid-item card">
  <div class="card-image">
    <%= image_tag quiz.cover_image.variant(resize_to_limit: [360, 160]), class: 'image' if quiz.cover_image.attached? %>
  </div>
    <div class="card-content">
      <div class="card-header">
        <h2><%= link_to truncate(quiz.title, length: 65), new_quiz_evaluation_path(quiz) %></h2>
      </div>
    <div class="card-copy">
      <p class="item-description">
        <%= quiz.information.truncate(165) %>
      </p>
      <p class="item-meta">
        <p class="post-date">Duration: <%= duration_value_span(quiz.duration) %></p>
      </p>
    </div>
      <div class="cta">
        <%= content_tag(:a, t('practice_quiz'), href: new_quiz_evaluation_path(quiz), class: 'light-text padded full-width dark rounded button') %>
      </div>
    </div>
</div>
