<div class="rounded basic-border grid-item card">
  <div class="card-image">
    <%= image_tag quiz.cover_image, class: 'image' if quiz.cover_image.attached? %>
  </div>
    <div class="card-content">
      <div class="card-header">
        <h2><%= link_to truncate(quiz.title, length: 65), new_quiz_evaluation_path(quiz) %></h2>
      </div>
    <div class="card-copy">
      <p class="item-description">
        <%= quiz.information.truncate(165) %>
      </p>
      <p class="item-meta">
        <p class="post-date">Duration:
          <%= content_tag(
                :span, nil, data: {
                              'dayjs-to-duration-target': 'formattedTime',
                              controller: 'dayjs-to-duration',
                              'dayjs-to-duration-time-stamp-value': quiz.duration
                            },
                            class: 'duration-value'
              ) %>
          </p>
      </p>
    </div>
      <div class="cta">
        <%= link_to new_quiz_evaluation_path(quiz), class: 'light-text padded full-width dark rounded button' do %> Practice Quiz <% end %>
      </div>
    </div>
</div>
