<div class="comment">
  <%= image_tag gravatar_url(comment.user.email), class: 'comment-avatar' %>
  <div class="comment-inner">
      <div class="comment-header">
          <cite class="comment-meta">
            <%= link_to comment.user.name, user_path(comment.user) %>
          </cite>

          <%= content_tag(:div,
                          content_tag(:span, nil,
                                      data: { 'dayjs-time-ago-target': 'formattedTime' }),
                          class: 'time-ago-in-words',
                          data: { controller: 'dayjs-time-ago',
                                  'dayjs-time-ago-time-stamp-value': comment.created_at.iso8601 }) %>

          <div class="comment-actions">
            <% if comment.user == current_user %>

              <%= link_to post_comment_path(comment.post, comment), 'data-turbo-method': :delete, 'data-turbo-confirm': 'Are you sure?', class: 'confirmation' do %>
              <div class="clickable grey-fill standard-svg svg icon">
                <%= inline_svg('icons/trash.svg') %>
              </div>
              <% end %>
            <% end %>
          </div>
      </div>

      <div class="comment-content">
        <p><%= comment.content %></p>
      </div>

  </div>
</div>
