
<%= form_for(@admin_tagging) do |form| %>
  <%= form.error_notification %>
  <%= form.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= form.input :taggable_id %>
    <%= form.input :taggable_type %>
    <%= form.association :tag %>
  </div>

  <div class="form-actions">
    <%= form.button :submit %>
  </div>
<% end %>
