
<%= form_for(@admin_correct_answer) do |form| %>
  <%= form.error_notification %>
  <%= form.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= form.association :question %>
    <%= form.association :answer %>
  </div>

  <div class="form-actions">
    <%= form.button :submit %>
  </div>
<% end %>
