<div id="<%= dom_id choice %>">
  <p>
    <strong>Name:</strong>
    <%= choice.name %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= choice.content %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= choice.value %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= choice.position %>
  </p>

  <p>
    <strong>Answer:</strong>
    <%= choice.answer_id %>
  </p>

  <p>
    <strong>Question:</strong>
    <%= choice.question_id %>
  </p>

  <p>
    <strong>Evaluation:</strong>
    <%= choice.evaluation_id %>
  </p>

</div>
