
<%= form_for(@admin_choice) do |form| %>
  <%= form.error_notification %>
  <%= form.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= form.input :name %>
    <%= form.input :content %>
    <%= form.input :value %>
    <%= form.input :position %>
    <%= form.association :answer %>
    <%= form.association :question %>
    <%= form.association :evaluation %>
  </div>

  <div class="form-actions">
    <%= form.button :submit %>
  </div>
<% end %>
