<section class="shadowed texture light-inset-shd post-meta-container">
  <div class="grid cards">

      <div class="grid-item card" >
        <div class="card-image">
          <%= image_tag("cards/truck.jpg") %>
        </div>
      
          <div class="card-content">

            <div class="card-header">
              <h2>Heavy Motor Vehicle</h2>
            </div>
            
            <div class="card-copy">
            
            <p class="item-description">An online mock test for light motor vehicles.</p>
            
            </div>
            <div class="cta">
              <%= link_to quizzes_path, class: 'slightly white-text padded full-width dark rounded button' do %>Practice Quiz<% end %>
            </div>

          </div>
      </div>

      <div class="grid-item card" >
        <div class="card-image">
          <%= image_tag("cards/car.jpg") %>
        </div>
      
          <div class="card-content">

            <div class="card-header">
              <h2>Light Motor Vehicle</h2>
            </div>
            
            <div class="card-copy">
            
            <p class="item-description">An online mock test for light motor vehicles.</p>
            
            </div>
            <div class="cta">
              <%= link_to quizzes_path, class: 'slightly white-text padded full-width dark rounded button' do %>Practice Quiz<% end %>
            </div>

          </div>
      </div>

      <div class="grid-item card" >
        <div class="card-image">
          <%= image_tag("cards/bike.jpg") %>
        </div>

          <div class="card-content">

            <div class="card-header">
              <h2>Motorcycle Test</h2>
            </div>
            
            <div class="card-copy">
            
            <p class="item-description">An online mock test for light motor vehicles.</p>
            
            </div>
            <div class="cta">
              <%= link_to quizzes_path, class: 'slightly white-text padded full-width dark rounded button' do %>Practice Quiz<% end %>
            </div>

          </div>
      </div>
      
  </div>
</section>
