<div id="<%= dom_id evaluation %>">
  <p>
    <strong>Score:</strong>
    <%= evaluation.score %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= evaluation.status %>
  </p>

  <p>
    <strong>Started at:</strong>
    <%= evaluation.started_at %>
  </p>

  <p>
    <strong>Completed at:</strong>
    <%= evaluation.completed_at %>
  </p>

  <p>
    <strong>User:</strong>
    <%= evaluation.user_id %>
  </p>

  <p>
    <strong>Quiz:</strong>
    <%= evaluation.quiz_id %>
  </p>

  <p>
    <strong>Last choice:</strong>
    <%= evaluation.last_choice_id %>
  </p>

</div>
