<%= form_for user do |form| %>
  <div class="padded-sides">

  <div class="flex">
    <div class="form-floating full-width">
        <label for="floatingInput">First Name</label>
        <%= form.text_field :first_name, class: 'form-control', required: true, autofocus: true, autocomplete: 'name', placeholder: 'First name' %>
      </div>

      <div class="form-floating full-width left-margin">
        <label for="floatingPassword">Last Name</label>
        <%= form.text_field :last_name, class: 'form-control', required: true, placeholder: 'Last name' %>
      </div>
  </div>

  <div class="form-floating">
    <label for="floatingPassword">Phone Number</label>
    <%= form.text_field :phone_number, class: 'form-control', autocomplete: 'phone_number', placeholder: 'Phone number' %>
  </div>

  <div class="form-floating">
    <label for="floatingPassword">Email Address</label>
    <%= form.text_field :email_address, class: 'form-control', required: true, autocomplete: 'email', placeholder: 'Email Address' %>
  </div>

  <div class="form-floating">
    <label for="floatingPassword">Bio</label>
    <%= form.text_area :bio, class: 'form-control', placeholder: 'Some information about yourself', maxlength: 1000 %>
  </div>

  <br>
  <%= form.submit 'Submit', class: 'clickable rounded button btn-primary p-4 text-white' %>
  </div>
<% end %>
