<% @user_posts.each do |post| %>
  <div class="main content block">

    <div class="post-header">
      <h2 class="text-center post-title" itemprop="name headline">
        <%= link_to truncate(post.title, :length => 65), post %>
      </h2>
    </div>

    <div class="block-content">
      <p><%= truncate(strip_tags(post.content.to_s), length: 65) %></p>
      <%= link_to "Read More >", post, class: "read-more" %>
    </div>
  <div class="block-meta">
    <div class="meta meta-votes">
      <div class="dark-fill small-svg icon">
        <%= inline_svg("icons/arrow-up.svg") %>
      </div>
      <%= post.get_upvotes.size %>

      <div class="dark-fill small-svg icon">
        <%= inline_svg("icons/arrow-down.svg") %>
      </div>
      <%= post.get_downvotes.size %>
    </div>

    <div class="meta meta-comments">
      <div class="dark-fill small-svg icon">
        <%= inline_svg("icons/comments.svg") %>
      </div>
      <%= post.comments.count %>
    </div>

   <div class="meta meta-date">
      <div class="dark-fill small-svg icon">
        <%= inline_svg("icons/clock.svg") %>
      </div>
      <%= time_ago_in_words(post.created_at) %> ago
    </div>

  </div>
  </div>
<% end %>