<% breadcrumb :user, @user %>

<div class="main profile-container">

  <div class="profile-area">
    <div class="profile-header"></div>
    <div class="avatar-img">
      <%= image_tag gravatar_url(@user.email, size: 300), alt: 'profile', class: 'avatar' %>
    </div>

    <h3 class="profile-title">
      <%= @user.first_name %> <%= @user.last_name %>
    </h3>

    <div class="main">

      <div class="social-description">
        <h2><%= @user.posts.count %></h2>
        <h4>Posts</h4>
      </div>

      <div class="social-description">
        <h2><%= @user.comments.count %></h2>
        <h4>Comments</h4>
      </div>

    </div>

    <div class="profile-info-area">
      <div class="profile-extra pull-right">
        <% if @user == current_user %>
          <%= link_to 'Edit', edit_user_path(current_user), class: 'button fa fa-pencil-square-o' %>
        <% end %>
      </div>

      <label>Username</label>
        <p><%= @user.username %></p>
      <label>First Name</label>
        <p><%= @user.first_name %></p>
      <label>Last Name</label>
        <p><%= @user.last_name %></p>
      <label>Bio</label>
        <p><%= @user.bio %></p>
    </div>
  </div>

</div>
