<footer class="dark application-footer">

  <div class="footer-content">
    <div class="footer-groups blocks">

      <div class="group block">
        <h3 class="group-title white-text">Community</h3>
        <ul class="group-list">
          <li><%= link_to 'Business', root_path, class: 'grey-text' %></li>
          <li><%= link_to 'Customers', root_path, class: 'grey-text' %></li>
          <li><%= link_to 'Partners', root_path, class: 'grey-text' %></li>
          <li><%= link_to 'Sponsorships', root_path, class: 'grey-text' %></li>
        </ul>
      </div>

      <div class="group block">
        <h3 class="group-title white-text">Company</h3>
        <ul class="group-list">
          <li><%= link_to 'About', root_path, class: 'grey-text' %></li>
          <li><%= link_to 'Blog', posts_path, class: 'grey-text' %></li>
          <li><%= link_to 'Careers', root_path, class: 'grey-text' %></li>
        </ul>
      </div>

      <div class="group block">
        <h3 class="group-title white-text">Resources</h3>
        <ul class="group-list">
          <li><%= link_to 'Contact', root_path, class: 'grey-text' %></li>
          <li><%= link_to 'FAQ', root_path, class: 'grey-text' %></li>
        </ul>
      </div>

    </div>
  </div>

  <div class="copyright">
    <p class="grey-text">Created with ❤ by <strong><%= link_to t("dev_company"), root_path, class: 'white-text' %> </strong> © <%= Date.today.year %></p>
    <ul>
      <li>
        <%= link_to 'Privacy Policy', root_path, class: 'grey-text' %>
      </li>
      <li>
        <%= link_to 'Terms of Service', root_path, class: 'grey-text' %>
      </li>
      <li>
        <%= link_to 'Code of Conduct', root_path, class: 'grey-text' %>
      </li>
      <li>
        <%= link_to 'Purpose', root_path, class: 'grey-text' %>
      </li>
    </ul>
  </div>
</footer>
