<footer class="dark-bg application-footer">

  <div class="footer-content">
    <div class="footer-groups blocks">

      <div class="group block">
        <h3 class="group-title light-text">Community</h3>
        <ul class="group-list">
          <li class="light-text"><%= link_to_unless_current 'Partners', page_path('partners'), class: 'light-text' %></li>
        </ul>
      </div>

      <div class="group block">
        <h3 class="group-title light-text">Company</h3>
        <ul class="group-list">
          <li class="light-text"><%= link_to_unless_current 'About', page_path('about'), class: 'light-text' %></li>
          <li class="light-text"><%= link_to_unless_current 'Blog', posts_path, class: 'light-text' %></li>
          <li class="light-text"><%= link_to_unless_current 'Careers', page_path('careers'), class: 'light-text' %></li>
        </ul>
      </div>

      <div class="group block">
        <h3 class="group-title light-text">Resources</h3>
        <ul class="group-list">
          <li class="light-text"><%= link_to_unless_current 'Contact', page_path('contact') %></li>
          <li class="light-text"><%= link_to_unless_current 'FAQ', page_path('faq'), class: 'light-text' %></li>
        </ul>
      </div>

    </div>
  </div>

  <div class="copyright">
    <p class="light-text">Created with ❤ by <strong><%= link_to_unless_current t("dev_company"), root_path, class: 'light-text' %> </strong> © <%= Date.today.year %></p>
    <ul>
      <li class="light-text">
        <%= link_to_unless_current 'Privacy Policy', page_path('privacy'), class: 'light-text' %>
      </li>
      <li class="light-text">
        <%= link_to_unless_current 'Terms of Service', page_path('terms'), class: 'light-text' %>
      </li>
      <li class="light-text">
        <%= link_to_unless_current 'Code of Conduct', page_path('conduct'), class: 'light-text' %>
      </li>
      <li class="light-text">
        <%= link_to_unless_current 'Purpose', page_path('purpose'), class: 'light-text' %>
      </li>
    </ul>
  </div>
</footer>
