<%= simple_form_for @page do |f| %>
  <div class="flex column">

    <div class="full-width">
      <%= f.label :title, class: "form-label" %>
      <%= f.text_field :title, class: "basic-border" %>
    </div>

  </div>
    <%= f.label :content, class: "form-label" %>
    <%= f.text_area :content, class: "basic-border form-textarea" %>

<% end %>
