<%= simple_form_for @page do |f| %>
    <div class="post-header">
      <h2 class="post-title">
        Page Title
      </h2>
      <h1 class="post-title">
        <%= f.text_field :title, class: "basic-border form-textarea" %>
      </h1>
    </div>

    <div class="post-content">
      <div class="post-body">
        <%= f.text_area :content, class: "basic-border lg-form-textarea" %>
      </div>
    </div>

      <div class="flex center-aligned spaced-between post-content">
        <div class="flex lightly top-padded bottom-padded center-aligned">
        </div>

        <div class="flex lightly top-padded bottom-padded center-aligned">
          <p class="post-date">
          </p>
        </div>
      </div>

      <div class="post-footer">
        <div class="flex center-aligned spaced-between">

          <div class="flex lightly top-padded bottom-padded center-aligned">
            <%= link_to pages_path, class: 'flex center-aligned red-text rounded dark ' do %>
              <div class="red-stroke mdm-svg icon">
                <%= inline_svg("icons/trash-o.svg") %>
              </div>
              <span class="margin-sides">Move to Trash</span>
            <% end %>
          </div>

          <div class="flex lightly top-padded bottom-padded center-aligned">
            <%= link_to 'Update', pages_path, class: 'white-text rounded dark button' %>
          </div>

        </div>
      </div>

<% end %>
