<% title @page.title %>
<% breadcrumb :page, @page %>

<div class="flex to-column gapped">

  <div class="flex full-width max-content rounded shadowed basic-border column white-bg page">
    <%= render 'form', page: @page %>
  </div>

  <div class="third-width to-full">
    <div class="hr-sectioned white-bg shadowed max-content rounded basic-border aside to-full">

      <div class="section">
        <div class="padded section-heading">
          <div class="flex">
            <h3 class="sub-heading">Details</h3>
          </div>
          <hr class="third-width hr-grey">
          <div class="section">
            <div class="flex">
              <div class="dark-stroke mdm-svg icon">
                <%= inline_svg('icons/ui/info-o.svg') %>
              </div>
              <h4 class="capitalized"><span class="bold margin-sides">status : </span><%= @page.status %></h4>
            </div>

            <div class="flex">
              <div class="dark-stroke mdm-svg icon">
                <%= inline_svg('icons/ui/date-calendar.svg') %>
              </div>
              <h4 class="capitalized"><span class="bold margin-sides">Schedule Page : </span><%= @page.created_at.iso8601 %></h4>

              <%= content_tag(:span, nil, data: { 'dayjs-formatted-date-time-target': 'formattedTime', controller: 'dayjs-formatted-date-time', 'dayjs-formatted-date-time-date-value': @page.created_at.iso8601 }, class: 'date-value') %>
            </div>

          </div>
        </div>
      </div>

      <div class="section">
        <div class="padded section-heading">
          <div class="flex">
            <div class="dark-stroke mdm-svg icon">
              <%= inline_svg('icons/ui/user-o.svg') %>
            </div>
            <h3 class="sub-heading margin-sides">Editor</h3>
          </div>
          <hr class="third-width hr-grey">

            <div class="flex center-aligned">
              <div class="relative dropdown-select" data-controller="dropdown">
                <div class="select-button" role="group">

                  <div class="rounded dropdown-button-area" role="group" data-action="click->dropdown#toggle">
                    <button class="full-width capitalized rounded dropdown-button iconed" type="button" aria-expanded="false">
                      <%= @page.user.name %>
                    </button>
                    <div class="dropdown-menu" data-dropdown-target="menu">
                      <% @users.each do |user| %>
                        <div class="select_item"><%= user.name %></div>
                      <% end %>
                    </div>
                  </div>

                </div>
                <div class="mdm-svg grey-fill float-icon icon">
                  <%= inline_svg('icons/arrow-down.svg') %>
                </div>
              </div>
            </div>

      </div>
    </div>

      <div class="section">
        <div class="padded section-heading">
          <div class="flex">
            <div class="dark-stroke mdm-svg icon">
              <%= inline_svg('icons/page.svg') %>
            </div>
            <h3 class="sub-heading margin-sides">Parent Page</h3>
          </div>
          <hr class="third-width hr-grey">

            <div class="flex center-aligned">
              <div class="relative dropdown-select" data-controller="dropdown">
                <div class="select-button" role="group">

                  <div class="rounded dropdown-button-area" role="group" data-action="click->dropdown#toggle">
                    <button class="full-width capitalized rounded dropdown-button iconed" type="button" aria-expanded="false">
                      <%= @page.title %>
                    </button>
                    <div class="dropdown-menu" data-dropdown-target="menu">
                      <% @pages.each do |page| %>
                        <div class="select_item"><%= page.title %></div>
                      <% end %>
                    </div>
                  </div>

                </div>
                <div class="mdm-svg grey-fill float-icon icon">
                  <%= inline_svg('icons/arrow-down.svg') %>
                </div>
              </div>
            </div>

      </div>
    </div>

    <div class="section">
      <div class="padded section-heading">
        <div class="flex">
          <h3 class="sub-heading">Cover Image</h3>
        </div>
          <hr class="third-width hr-grey">
          <div class="padded rounded dashed-brd basic-border clickable dropzone">
            <div class="flex center-aligned">
              <div class="mdm-svg icon">
                <%= inline_svg('icons/image-o.svg') %>
              </div>
              <span>Set Page Image</span>
            </div>
          </div>
        </div>
      </div>

        <div class="section">
          <div class="padded section-heading">
              <div class="flex">
                <h3 class="sub-heading">Page Excerpt</h3>
              </div>
            <hr class="third-width hr-grey">
              <div class="flex">
                <textarea class="basic-border cream-bg" name="demo" id="" cols="10" rows="2"></textarea>
              </div>
          </div>
        </div>
      </div>

      <div class="hr-sectioned white-bg shadowed rounded basic-border">
        <div class="section">
        <div class="padded section-heading">
          <div class="flex">
            <div class="sub-section dark-stroke sm-icon"><%= inline_svg('icons/hashtag.svg') %></div>
            <h3 class="sub-heading">Tags</h3>
          </div>
          <hr class="third-width hr-grey">
          <div class="section">
            <input type="text" class="full-width basic-border cream-bg" autocomplete="name">
            <ul class="flex top-padded wrapped tags">
              <li class="flex tag-container">
                <span class="removeable-tag gainsboro-bg">test</span>
                <a href="remove" class="tag-button clickable gainsboro-bg">
                  <div class="red-stroke micro-svg icon">
                    <%= inline_svg('icons/close.svg') %>
                  </div>
                </a>
              </li>
              <li class="flex tag-container">
                <span class="removeable-tag gainsboro-bg">search</span>
                <a href="remove" class="tag-button clickable gainsboro-bg">
                  <div class="red-stroke micro-svg icon">
                    <%= inline_svg('icons/close.svg') %>
                  </div>
                </a>
              </li>
              <li class="flex tag-container">
                <span class="removeable-tag gainsboro-bg">activerecord</span>
                <a href="remove" class="tag-button clickable gainsboro-bg">
                  <div class="red-stroke micro-svg icon">
                    <%= inline_svg('icons/close.svg') %>
                  </div>
                </a>
              </li>
              <li class="flex tag-container">
                <span class="removeable-tag gainsboro-bg">ruby</span>
                <a href="remove" class="tag-button clickable gainsboro-bg">
                  <div class="red-stroke micro-svg icon">
                    <%= inline_svg('icons/close.svg') %>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
