<div id="<%= dom_id answer %>">
  <p>
    <strong>Name:</strong>
    <%= answer.name %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= answer.value %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= answer.content %>
  </p>

  <p>
    <strong>Information:</strong>
    <%= answer.information %>
  </p>

  <p>
    <strong>Question:</strong>
    <%= answer.question_id %>
  </p>

</div>
