<div id="<%= dom_id friendly_id_slug %>">
  <p>
    <strong>Slug:</strong>
    <%= friendly_id_slug.slug %>
  </p>

  <p>
    <strong>Sluggable:</strong>
    <%= friendly_id_slug.sluggable_id %>
  </p>

  <p>
    <strong>Sluggable type:</strong>
    <%= friendly_id_slug.sluggable_type %>
  </p>

  <p>
    <strong>Scope:</strong>
    <%= friendly_id_slug.scope %>
  </p>

</div>
