<div class="flex spaced-between action-bar">
  <div class="lightly padded flex margin-sides">

    <%= link_to url_for :controller => controller.controller_name,
                        :action => 'new' do %>

      <div class="mdm-svg icon">
        <%= inline_svg("icons/plus-circle-o.svg") %>
      </div> New
    <% end %>

      <%= link_to url_for :controller => controller.controller_name,
                          :action => 'edit',
                          :id => item.id do %>
      <div class="mdm-svg icon">
        <%= inline_svg("icons/edit-o.svg") %>
      </div>Edit
      <% end %>
  </div>

  <div class="lightly padded flex">
    <%= link_to new_page_path, class: 'flex center-aligned rounded dark-btn right-margin outline-btn' do %>
      <div class="mdm-svg red-text icon">
        <%= inline_svg("icons/trash-o.svg") %>
      </div>
      <span class="margin-sides red-text">Delete</span>
    <% end %>
  </div>
</div>
