
<%= form_for(@admin_post) do |form| %>
  <%= form.error_notification %>
  <%= form.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= form.input :title %>
    <%= form.input :content %>
    <%= form.input :slug %>
    <%= form.input :published_at %>
    <%= form.input :status %>
    <%= form.input :excerpt %>
    <%= form.association :user %>
  </div>

  <div class="form-actions">
    <%= form.button :submit %>
  </div>
<% end %>
