<p style="color: green"><%= notice %></p>

<%= render @admin_question %>

<div>
  <%= link_to "Edit this question", edit_admin_question_path(@admin_question) %> |
  <%= link_to "Back to questions", admin_questions_path %>

  <%= button_to "Destroy this question", @admin_question, method: :delete %>
</div>
