<div id="<%= dom_id active_storage_attachment %>">
  <p>
    <strong>Name:</strong>
    <%= active_storage_attachment.name %>
  </p>

  <p>
    <strong>Record type:</strong>
    <%= active_storage_attachment.record_type %>
  </p>

  <p>
    <strong>Record:</strong>
    <%= active_storage_attachment.record_id %>
  </p>

  <p>
    <strong>Blob:</strong>
    <%= active_storage_attachment.blob_id %>
  </p>

</div>
