
<%= form_for(@admin_active_storage_attachment) do |form| %>
  <%= form.error_notification %>
  <%= form.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= form.input :name %>
    <%= form.input :record_type %>
    <%= form.input :record_id %>
    <%= form.input :blob_id %>
  </div>

  <div class="form-actions">
    <%= form.button :submit %>
  </div>
<% end %>
