<div class="full-width level-one nav">
   <div class="spaced-around flex icons">

      <%= link_to_active root_path, class: "ocean-fill icon", aria: { label: root_path("home") } do %>
          <%= inline_svg("/icons/home.svg") %>
      <% end %>

     <%= link_to_active root_path, class: "ocean-fill icon", aria: { label: root_path("home") } do %>
          <%= inline_svg("/icons/home.svg") %>
      <% end %>

     <%= link_to_active root_path, class: "ocean-fill icon", aria: { label: root_path("home") } do %>
          <%= inline_svg("/icons/home.svg") %>
      <% end %>

     <%= link_to_active root_path, class: "ocean-fill icon", aria: { label: root_path("home") } do %>
          <%= inline_svg("/icons/home.svg") %>
      <% end %>

   </div>
</div>
