<nav role="navigation" class="dark-bg full-width flex spaced-between top-nav">

  <!-- menu - logo -->
  <div class="flex nav-area">
    <div class="clickable flex icon">

      <div class="padded desktop-only light-fill medium-svg menu icon" data-action="click->sidebar#toggle">
        <%= link_to root_path, aria: { label: root_path("home") } do %>
          <%= inline_svg("logo_icon.svg") %>
        <% end %>
      </div>

      <div class="flex mobile-only tablet-only center-aligned clickable toggle">
        <div class="padded margin-sides menu standard-svg icon" data-action="click->sidebar#toggle">
          <%= inline_svg("icons/menu.svg") %>
        </div>
      </div>

    </div>
  </div>

  <div class="flex nav-area">
    <div class="padded mobile-only tablet-only light-fill medium-svg menu icon" data-action="click->sidebar#toggle">
      <%= link_to root_path, aria: { label: root_path("home") } do %>
        <%= inline_svg("logo_icon.svg") %>
      <% end %>
    </div>
    <!-- large screen nav -->
    <div class="flex auto-marg navlist desktop-only">
      <%= link_to "Dashboard",
                  dashboard_path,
                  class: "link #{url_contains?('active', 'dashboard')}" %>

      <%= link_to "Quizz",
                  quizzes_path,
                  class: "link #{url_contains?('active', 'quiz')}" %>

      <%= link_to "Blog",
                  posts_path,
                  class: "link #{url_contains?('active', 'posts')}" %>

      <%= link_to "About",
                  page_path("about"),
                  class: "link #{url_contains?('active', 'about')}" %>
    </div>
  </div>

  <div class="flex nav-area">
    <!-- search -->
    <div class="flex center-aligned search-container desktop-only">
      <div class="dark-bg search-wrapper">
        <input type="text" class="search-input" placeholder=" search">
        <div class="svg search float-icon icon">
          <%= inline_svg("icons/magnifying-glass.svg") %>
        </div>
      </div>
    </div>

    <div class="flex mobile-only tablet-only center-aligned clickable toggle">
      <div class="padded menu light-stroke standard-svg icon" data-action="click->sidebar#toggle">
        <%= inline_svg("icons/search.svg") %>
      </div>
    </div>
  </div>

</nav>
