<div class="full-width basic-border padded flex center-aligned spaced-between secondary-nav">

    <%= breadcrumbs separator: ' / ' %>

    <!-- search -->
    <div class="search-container">
    </div>

    <div class="flex nav-profile">

      <div data-controller="dropdown" class="spaced clickable">
        <div class="menu standard-svg dark-fill icon" data-action="click->dropdown#toggle">
          <%= inline_svg('icons/user.svg') %>
        </div>

        <div class="menu-container" data-dropdown-target="menu">
          <ul class="user-menu">

            <li class="full-width">
              <%= link_to edit_user_registration_path, class: 'flex full-width user-menu-link' do %>
                <div class="right-margin small-svg dark-fill icon">
                  <%= inline_svg('icons/user-icon.svg') %>
                </div> Profile
              <% end %>
            </li>

            <% if warden.user.admin? %>
              <li class="full-width">
                <%= link_to root_path, class: 'flex full-width user-menu-link' do %>
                <div class="right-margin small-svg dark-fill icon">
                  <%= inline_svg('icons/settings.svg') %>
                </div> Admin
              <% end %>
            </li>
            <% end %>

            <div class="divider"></div>

            <li class="full-width">
              <%= link_to destroy_user_session_path, data: { 'turbo-method': :delete }, class: 'flex full-width user-menu-link' do %>
                <div class="right-margin small-svg dark-fill icon">
                  <%= inline_svg('icons/log-out.svg') %>
                </div> Log Out
              <% end %>
            </li>

          </ul>
        </div>
      </div>

    </div>
  </div>
