<div class="dashboard" data-controller="tabs">

    <div class="flex spaced-between">
      <ul class="flex slightly padded left-margin grouped buttons">
        <li class="small-text slightly light-text padded button" data-tabs-target="tab" data-action="click->tabs#activate">My Quizzes</li>
        <li class="small-text slightly light-text padded button" data-tabs-target="tab" data-action="click->tabs#activate">My Posts</li>
      </ul>

      <ul class="flex slightly padded left-margin grouped buttons">
        <li class="small-text slightly light-text padded button active">all time</li>
        <li class="small-text slightly light-text padded button">week</li>
        <li class="small-text slightly light-text padded button">month</li>
        <li class="small-text slightly light-text padded button">year</li>
      </ul>
   </div>


    <div class="flex padded-sides spaced-between">
      <div class="meta">
        
      </div>
      <div class="meta">
        <h4 class="small-text gray-text">Active: {{}}</h4>
      </div>
   </div>

   <div class="panel hidden" data-tabs-target="panel">
      <div class="flex evenly-spaced no-margin panel">
       <div class="alt-border third-width sparkline content" id="sparkline_comments">
         <div class="padded">
           <h1 class="large">Comments : <%= @current_user_stats.posts.size %></h1>
         </div>
         <!-- total completed eval for the period -->
       </div>

       <div class="alt-border third-width sparkline content" id="sparkline_pages_count">
         <div class="padded">
           <h1 class="large">Pages : <%= @current_user_stats.posts.size %></h1>
         </div>
         <!-- for each of total evals what was the avarage score for the selected period -->
       </div>

       <div class="alt-border third-width sparkline content" id="sparkline_average_score">
         <div class="padded">
           <h1 class="large">Average Score :<%= @current_user_stats.posts.size %></h1>
         </div>
         <!-- for each of total evals what was the avarage score for the selected period -->
       </div>
      </div>

  <div class="flex evenly-spaced panel">

     <div class="alt-border half-width content">
     </div>

     <div class="alt-border half-width content">
     </div>

   </div>

   <div class="flex panel">
     <div class="alt-border full-width content">
     </div>
   </div>

</div>

   <div class="panel hidden" data-tabs-target="panel">
      <div class="flex evenly-spaced no-margin panel">
       <div class="alt-border third-width sparkline content" id="sparkline_post_count">
        <div class="padded">
          <h4 class="small-text bold gray-text">Pages Posts</h4>
          <h1><%= Post.published.size %></h1>
        </div>
         <!-- total completed eval for the period -->
       </div>

       <div class="alt-border third-width sparkline content" id="sparkline_drafts_count">
        <div class="padded">
          <h4 class="small-text bold gray-text">Drafts</h4>
          <h1><% Post.draft.size %></h1>
        </div>
         <!-- for each of total evals what was the avarage score for the selected period -->
       </div>

       <div class="alt-border third-width sparkline content" id="sparkline_users_count">
        <div class="padded">
          <h4 class="small-text bold gray-text">Pages</h4>
          <h1><%= Page.all.size %></h1>
        </div>
         <!-- for each of total evals what was the avarage score for the selected period -->
       </div>
      </div>

  <div class="flex evenly-spaced panel">

     <div class="alt-border half-width content">

     </div>

     <div class="alt-border half-width content">
     </div>

   </div>

   <div class="flex panel">
   </div>
</div>
