<div id="<%= dom_id active_storage_blob %>">
  <p>
    <strong>Key:</strong>
    <%= active_storage_blob.key %>
  </p>

  <p>
    <strong>Filename:</strong>
    <%= active_storage_blob.filename %>
  </p>

  <p>
    <strong>Content type:</strong>
    <%= active_storage_blob.content_type %>
  </p>

  <p>
    <strong>Metadata:</strong>
    <%= active_storage_blob.metadata %>
  </p>

  <p>
    <strong>Service name:</strong>
    <%= active_storage_blob.service_name %>
  </p>

  <p>
    <strong>Byte size:</strong>
    <%= active_storage_blob.byte_size %>
  </p>

  <p>
    <strong>Checksum:</strong>
    <%= active_storage_blob.checksum %>
  </p>

</div>
