<p style="color: green"><%= notice %></p>

<%= render @admin_active_storage_blob %>

<div>
  <%= link_to "Edit this active storage blob", edit_admin_active_storage_blob_path(@admin_active_storage_blob) %> |
  <%= link_to "Back to active storage blobs", admin_active_storage_blobs_path %>

  <%= button_to "Destroy this active storage blob", @admin_active_storage_blob, method: :delete %>
</div>
