<div class="gapped comments content rounded basic-border">
  <div class="comments-title-container">
    <%= content_tag(:h2, class: "comments-title fleft") do %>
      <%= pluralize(post.comments.count, t('comments.singular'), t('comments.plural')) %>
    <% end %>
  </div>

  <div class="comment-section">
    <% if post.comments.any? %>
      <%= render partial: "comments/comment", collection: post.comments.includes(:user), as: :comment %>
    <% else %>
      <div class="comment-header">
        <h4><%= t('comments.none') %></h4>
      </div>
    <% end %>

    <div class="comment-respond">
      <%= content_tag(:h1, t('comments.leave_comment'),class: "comment-reply-title") %>
      <%= render partial: "comments/form", locals: { post: post } %>
    </div>
  </div>
</div>
