<div class="flex full-width rounded shadowed basic-border max-content column white-bg post">

    <div class="post-header">
      <h1 class="post-title">
        <%= @post.title %>
      </h1>
    </div>

    <div class="post-content">
      <div class="post-body">
        <%= sanitize from_markdown(liquidize(@post.content)) %>
      </div>
    </div>

    <div class="post-footer">
      <div class="flex center-aligned spaced-between post-meta">
        <div class="flex center-aligned">
          <div class="gray-stroke small-svg icon"><%= inline_svg('icons/clock.svg') %></div>
          <p class="post-date">
            Posted <span class="time_ago_in_words"><%= @post.created_at.iso8601 %></span>
          </p>
        </div>

      <div class="flex center-aligned">
        <%= link_to like_post_path(@post), 'data-turbo-method': :put, class: 'vote' do %>
        <div class="dark-fill standard-svg icon">
          <%= inline_svg('icons/arrow-up.svg') %>
        </div>
      <% end %>

      <%= @post.weighted_score %>

        <%= link_to dislike_post_path(@post), 'data-turbo-method': :put, class: 'vote' do %>
        <div class="dark-fill standard-svg icon">
          <%= inline_svg('icons/arrow-down.svg') %>
        </div>
        <% end %>
      </div>

    </div>
  </div>
</div>
