<div class="flex spaced-between action-bar">
  <div class="flex margin-sides">

    <%= link_to new_page_path, class: 'flex center-aligned rounded dark-btn right-margin outline-btn' do %>
      <div class="mdm-svg icon">
        <%= inline_svg('icons/chat-o.svg') %>
      </div>
      <span class="margin-sides">Save</span>
    <% end %>

    <%= link_to new_page_path, class: 'flex center-aligned rounded dark-btn right-margin outline-btn' do %>
      <div class="mdm-svg icon">
        <%= inline_svg('icons/view-o.svg') %>
      </div>
      <span class="margin-sides">Preview</span>
    <% end %>
  </div>

  <div class="flex">
    <%= link_to new_page_path, class: 'flex center-aligned rounded dark-btn right-margin outline-btn' do %>
      <div class="mdm-svg red-text icon">
        <%= inline_svg('icons/trash-o.svg') %>
      </div>
      <span class="margin-sides red-text">Cancel</span>
    <% end %>
  </div>
</div>
