<div class="basic-border content block">

  <div class="block-header">
    <h1 class="post-title">
      <%= link_to truncate(post.title, length: 65), post %>
    </h1>
  </div>

  <div class="block-content">
    <p><%= post.excerpt %></p>
    <div class="link">
      <%= link_to 'Read More', post, class: 'relative level-one bold link-underline hvr-fill read-more' %>
    </div>
  </div>

  <div class="dark-bg block-meta">
    <div class="meta meta-views">
      <div class="light-fill small-svg icon">
        <%= inline_svg('icons/eye.svg') %>
      </div>
      <div class="light-text">
        <%= pluralize(post.comments.size, t('page_views.singular'), t('page_views.plural')) %>
      </div>
    </div>

    <div class="meta meta-comments">
      <div class="light-fill small-svg icon">
        <%= inline_svg('icons/comments.svg') %>
      </div>
      <div class="light-text">
        <%= pluralize(post.comments.size, t('comments.singular'), t('comments.plural')) %>
      </div>
    </div>

   <div class="meta meta-date">
      <div class="light-fill small-svg icon">
        <%= inline_svg('icons/clock-fill.svg') %>
      </div>
      <div class="light-text">
        <%= time_ago_span(post.created_at) %>
      </div>
    </div>
  </div>
</div>
