<% title @post.title %>
<% breadcrumb :post, @post %>

<div class="flex to-column gapped">
  <div class="flex full-width rounded mildy-shd shadowed basic-border max-height column white-bg post">

    <div class="post-header">
      <h1 class="post-title">
        <%= @post.title %>
      </h1>
    </div>

    <div class="post-content">
      <div class="post-body">
        <%= @post.content.html_safe %>
      </div>
    </div>

    <div class="post-footer">
      <div class="flex lightly center-aligned spaced-between post-meta">
        <div class="flex center-aligned">
          <div class="gray-stroke small-svg icon"><%= inline_svg("icons/clock.svg") %></div>
          <p class="post-date">
            Posted <span><%= @post.created_at %></span>
          </p>
        </div>

        <div class="flex center-aligned">
          <%= link_to like_post_path(@post), method: :put, class: "vote" do %>
          <div class="dark-fill standard-svg icon">
            <%= inline_svg("icons/arrow-up.svg") %>
          </div>
        <% end %>

        <%= @post.weighted_score %>

          <%= link_to dislike_post_path(@post), method: :put, class: "vote" do %>
          <div class="dark-fill standard-svg icon">
            <%= inline_svg("icons/arrow-down.svg") %>
          </div>
          <% end %>
        </div>

      </div>
    </div>

  </div>

  <div class="third-width hr-sectioned max-height white-bg mildy-shd shadowed rounded basic-border aside to-full">

    <div class="section">
      <div class="padded section-heading">
        <div class="flex">
          <div class="sub-section dark-stroke sm-icon"><%= inline_svg("icons/hashtag.svg") %></div>
          <h3 class="sub-heading">Tags</h3>
        </div>
        <hr class="third-width hr-grey">
        <div class="section">
          <ul class="flex lightly top-padded wrapped tags">
            <li class="flex tag-container">
              <a href="test" class="tag gainsboro-bg">test</a>
            </li>
            <li class="flex tag-container">
              <a href="test" class="tag gainsboro-bg">search</a>
            </li>
            <li class="flex tag-container">
              <a href="test" class="tag gainsboro-bg">activerecord</a>
            </li>
            <li class="flex tag-container">
              <a href="test" class="tag gainsboro-bg">ruby</a>
            </li>
            <li class="flex tag-container">
              <a href="test" class="tag gainsboro-bg">rails</a>
            </li>
            <li class="flex tag-container">
              <a href="test" class="tag gainsboro-bg">pg</a>
            </li>
            <li class="flex tag-container">
              <a href="test" class="tag gainsboro-bg">webapp</a>
            </li>
            <li class="flex tag-container">
              <a href="test" class="tag gainsboro-bg">testing</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="padded section-heading">
        <div class="flex">
          <div class="sub-section dark-stroke sm-icon"><%= inline_svg("icons/clock.svg") %></div>
          <h3 class="sub-heading">Recent Posts</h3>
        </div>
        <hr class="third-width hr-grey">
        <div class="section">
          <% @posts.most_recent.published.each do |post| %>
            <div class="item">
               <%= link_to post.title, post, class: "link" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="padded section-heading">
        <div class="flex">
          <div class="sub-section dark-stroke sm-icon"><%= inline_svg("icons/cash.svg") %></div>
          <h3 class="sub-heading">Sponsored</h3>
        </div>
        <hr class="third-width hr-grey">
        <div class="section">
          <%= image_tag("bg/main.png", alt: "Edit Entry", class: "clickable rounded image") %>
        </div>
      </div>
    </div>

  </div>
</div>

  <div class="shadowed texture light-inset-shd txr-dark post-meta-container">
    <div class="post-author">
      <div class="post-author-content">
        <div class="bold"><%= @post.author.name %></div>
      </div>
    </div>
  </div>

<div class="gapped comments content rounded basic-border">
  <div class="comments-title-container">
    <h2 class="comments-title fleft"><%= @post.comments.count %> Comments</h2>
  </div>

  <div id="comment-section" class="comment-section">

    <% if @post.comments.any? %>
      <%= render :partial => @post.comments.includes(:user) %>
    <% else %>

    <div class="comment-header">
      <h4>Be the first to comment</h4>
    </div>

    <% end %>

    <div id="respond" class="comment-respond">
      <h4 id="reply-title" class="comment-reply-title">Leave a Reply</h4>

    <%= simple_form_for [@post, Comment.new]  do |f| %>
      <div class="field">
        <%= f.text_area :content, class: "basic-border form-textarea" %>
      </div>
    <br>
        <%= f.submit "Post Comment", class: "button btn-primary" %>
    <% end %>

    </div>
  </div>

</div>
