<div id="<%= dom_id action_text_rich_text %>">
  <p>
    <strong>Name:</strong>
    <%= action_text_rich_text.name %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= action_text_rich_text.body %>
  </p>

  <p>
    <strong>Record type:</strong>
    <%= action_text_rich_text.record_type %>
  </p>

  <p>
    <strong>Record:</strong>
    <%= action_text_rich_text.record_id %>
  </p>

</div>
