<p style="color: green"><%= notice %></p>

<%= render @admin_action_text_rich_text %>

<div>
  <%= link_to "Edit this action text rich text", edit_admin_action_text_rich_text_path(@admin_action_text_rich_text) %> |
  <%= link_to "Back to action text rich texts", admin_action_text_rich_texts_path %>

  <%= button_to "Destroy this action text rich text", @admin_action_text_rich_text, method: :delete %>
</div>
