<!DOCTYPE html>
<html>
  <head>
    <title><%= t('site_name') %> | <%= yield(:title).presence || t('tagline') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= render "layouts/common/meta" %>
    <%= favicon_link_tag asset_path("favicon.png"), :rel => "icon", :type => "image/png" %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= yield :head %>

    <%= turbo_include_tags %>
    <%= stimulus_include_tags %>
    <%= javascript_include_tag "turbo", type: "module-shim" %>

  </head>

  <body class="texture full-height max-height">
    <%= render 'layouts/app/header', cached: true %>
    <%= yield %>
    <%= render 'layouts/app/footer', cached: true %>
  </body>
</html>
