<!DOCTYPE html>
<html>
  <head>
    <title><%= t("site_name") %> | <%= t("tagline") %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => "reload" %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= render "layouts/common/meta" %>

    <%= favicon_link_tag asset_path("favicon.png"), :rel => "icon", :type =>  "image/png" %>
  </head>

  <body>
    <%= render 'layouts/app/header', cached: true %>
    <%= yield %>
    <%= render 'layouts/app/footer', cached: true %>
  </body>
</html>
