<!DOCTYPE html>
<html class="<%= yield(:classes_for_html).presence %>" lang="<%= I18n.locale %>">
  <head>
    <title><%= t("site_name") %> | <%= yield(:title).presence || t("tagline") %></title>

    <%= render "layouts/common/meta" %>
    <%= render "layouts/common/link_rel" %>
    <%= render "layouts/common/tracking" %>

    <%= favicon_link_tag asset_path("favicon.png"), rel: "icon", type: "image/png" %>

    <%= debugbar_head  if defined? Debugbar %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
  </head>

  <body class="app-body <%= yield(:classes_for_body).presence %>">
    <%= yield(:side_menu_overlay) %>
    <%= yield(:header) %>
    <%= yield(:primary_nav) %>
    <%= yield(:secondary_nav) %>
    <%= content_for?(:body) ? yield(:body) : yield %>
    <%= yield(:footer) %>
    <%= debugbar_body if defined? Debugbar %>
  </body>
</html>
