<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title><%= t("site_name") %> | <%= t("tagline") %></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= render "layouts/common/meta" %>
    <%= favicon_link_tag asset_path("favicon.png"), :rel => "icon", :type => "image/png" %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= stimulus_include_tags %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "turbo", type: "module-shim" %>
  </head>

  <body class="main-bg texture full-height max-height">

    <div class="full-height mid-center devise">
      <%= render "layouts/common/messages" %>

      <div class="grey-bordered content form">
        <div class="full-width">

          <div class="flex centered logo">
            <%= link_to root_path do %>
              <%= image_tag 'svg/company_logo_black.svg' %>
            <% end %>
          </div>

        </div>

        <%= yield %>

      </div>
    </div>

  </body>
</html>
