    <%= favicon_link_tag asset_path("favicon.png"), :rel => "icon", :type =>  "image/png" %><!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title><%= t('site_name') %> | <%= yield(:title).presence || t('tagline') %></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' http://* 'unsafe-inline'; script-src 'self' http://* 'unsafe-inline' 'unsafe-eval'" />

    <%= render "layouts/common/meta" %>
    <%= favicon_link_tag asset_path("favicon.png"), :rel => "icon", :type => "image/png" %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= stimulus_include_tags %>
    <%= javascript_include_tag "turbo", type: "module-shim" %>

  </head>

  <body>
    <%= render 'layouts/common/messages' %>
    <%= render 'layouts/static/header' %>
    <%= render 'layouts/static/primary_nav' %>
    <%= render 'layouts/static/secondary_nav' %>
    <%= yield  %>
    <%= render 'layouts/static/footer' %>
  </body>
</html>
